header{
    margin: 1% 1% 0% 1%;
    background-color: #EBEBEB;
    border-radius: 50px;
    border: 0.5px solid rgba(128, 128, 128, 0.169);
    box-shadow: 0px 1.5px 1px rgb(103, 103, 103);
    transition: 0.3s;
}
header:hover{
    box-shadow: 0px 4px 1px rgb(103, 103, 103);
}
.nav_content {
    display: flex;
    align-items: center; 
}
.nav_content ul {
    display: flex;        
    gap: 30px;            
    list-style: none;   
    margin: 0;
    padding: 0;  
}
.nav_content li a{
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    color: #3A6EA5;
    display: inline-block;
    transition: transform 0.1s ease, color 0.1s ease;
}
.nav_content li a:hover{
    color:#FF6700;
    transform: translatey(-20%);
}
nav{
    margin: 0px 40px 0px 40px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
header img{
    width: 80px;
    height: auto;
    cursor: pointer;
}
nav button{
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bolder;
    color: #004E98;
    background-color: #EBEBEB;
    border-radius: 50px;
    border: 2px solid #004E98;
    width: 125px;
    height: 50px;
    box-shadow: 0px 1px 1px #004E98;
    transition: transform 0.1s ease, color 0.1s ease;
}
nav button:hover{
    box-shadow: 0px 4px 1px rgb(103, 103, 103);
    background-color: #FF6700;
    color: white;
    border: 2px solid #FF6700;
    transform: translatey(-10%);
}
nav button:active{
    background-color: #EBEBEB;
    color: #004E98;
    box-shadow: 0px 1px 1px #004E98;
    border: 2px solid #004E98;
    transform: translatey(0%);
}