@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* body {
  background-color: #ffffff;
  background-image: 
    radial-gradient(#e6e6e6 1px, transparent 1px),
    radial-gradient(#e6e6e6 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
} */

/* body {
  background: linear-gradient(135deg, #f0f8ff 0%, #e6f2ff 100%);
} */
/* body{
  background-color: #f0f8ff;
background-image: 
  linear-gradient(30deg, #e6f2ff 12%, transparent 12.5%, transparent 87%, #e6f2ff 87.5%, #e6f2ff),
  linear-gradient(150deg, #e6f2ff 12%, transparent 12.5%, transparent 87%, #e6f2ff 87.5%, #e6f2ff),
  linear-gradient(30deg, #e6f2ff 12%, transparent 12.5%, transparent 87%, #e6f2ff 87.5%, #e6f2ff),
  linear-gradient(150deg, #e6f2ff 12%, transparent 12.5%, transparent 87%, #e6f2ff 87.5%, #e6f2ff),
  linear-gradient(60deg, #e3f2fd 25%, transparent 25.5%, transparent 75%, #e3f2fd 75%, #e3f2fd),
  linear-gradient(60deg, #e3f2fd 25%, transparent 25.5%, transparent 75%, #e3f2fd 75%, #e3f2fd);
background-size: 40px 70px;
background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
} */

body{
background-color: #f0f8ff;
background-image: linear-gradient(#e6f2ff 1px, transparent 1px),
                  linear-gradient(90deg, #e6f2ff 1px, transparent 1px);
background-size: 25px 25px;
}